/* Hero Section */
.hero {
  background: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  
}
.hero-content {
  position: relative;
  z-index: 2;
}
.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}
.hero p {
  font-size: 1.2rem;
}
.hero .btn {
  margin-top: 20px;
}
/* Hide default Bootstrap dropdown arrow */
.nav-item.dropdown .nav-link::after {
  display: none;
}

/* Show dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.navbar{
  background: linear-gradient(to right, rgba(237, 106, 89, 0.85) 0%, rgba(147, 178, 211, 0.85) 100%);
}
/* Transparent background */
.dropdown-menu {
  background: rgba(0, 0, 0, 0.7);
  border: none;
  padding: 10px;
}

/* Dropdown links styling */
.dropdown-item {
  color: #fff;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background: rgba(255, 255, 255, 0.934);
}

/* Packages Section */
.package-card {
  transition: transform 0.3s;
}
.package-card:hover {
  transform: translateY(-10px);
}
/* Booking Section with Background Image */
.booking-section {
  background: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0') no-repeat center center/cover;
  position: relative;
  padding: 80px 0;
}

.booking-section::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  
}
.booking-section h2 {
  color: white;
  font-weight: bold;
}

.booking-section .container {
  position: relative;
  z-index: 2; /* keep form above overlay */
}

.booking-form {
  background: rgba(255, 255, 255, 0.9); /* semi-transparent white */
  border-radius: 10px;
  padding: 30px;
}

.booking-form input,
.booking-form select {
  border-radius: 8px;
  padding: 10px;
}

.booking-form button {
  border-radius: 25px;
  padding: 10px 30px;
}
.booking-form button:hover {
  background-color: #0056b3;
}
.why-choose-us {
  background: linear-gradient(135deg, #f8f9fa, #eef4ff);
  position: relative;
}
.why-choose-us .card {
  background: #fff;
  border-radius: 20px;
}
.testimonial {
  width: 80%;       /* adjust width */
  margin: 0 auto;   /* centers horizontally */
  text-align: center;
}

/* Footer */
footer {
  background: #e3e8ed;
  color: black;
  padding: 20px 0;
}
/* .kenburns-top-right {
	-webkit-animation: kenburns-top-right 5s ease-out both;
	        animation: kenburns-top-right 5s ease-out both;
}
@keyframes kenburns-top-right {
  0% {    
            transform: scale(1) translate(0, 0);   
            transform-origin: 84% 16%;
  }
  100% {
            transform: scale(1.25) translate(20px, -15px);
            transform-origin: right top;
  }
} */
